


.contact {
    padding: 50px 0;
    border-radius: 5px;
}

.contact #map {
    width: 100%;
  }
.contact #map img{
    width: 100%;
    height: auto;
    /* max-width: 400px; */
    
}

.contact .form{
    margin: 15px 0;
}

.contact .form input{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    outline: none;
}

.contact .form textarea{
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #d5d5d5;
    outline: none;
}

.contact .form input:focus{
    border-color:  #428dff;
}

.contact .form textarea:focus{
    border-color:  #428dff;
}

.contact input[type=submit]{
    padding: 10px 20px;
    background-color: #428dff;
    color: white;
    width: 100%;
    border: 2px solid #428dff;;
    border-radius: 5px;
    font-weight: 500;
}

.contact .title{
    font-size: 28px;
    font-weight: 500;
    /* padding-left: 20px; */
}

.contact .title-border{
    border-bottom: 4px solid  #428dff;
    width: 120px;
    /* margin-left: 20px; */
    padding-top: 3px;
    margin-bottom: 5px;
}

.contact .sub-title{
    /* padding-left: 20px; */
    color: #aaa5a5;
    margin-bottom: 35px;
}

.contact .card-contact{
    display: flex;
    align-items: center;
    padding: 50px 0;
}

.contact .card-contact img{
    width: 60px;
    height: 60px;
    margin-right: 30px;
    filter: invert(56%) sepia(54%) saturate(4250%) hue-rotate(197deg) brightness(98%) contrast(106%);
}

.contact .card-contact .text{
    font-size: 18px;
    font-weight: bold;
}
.contact .card-contact .info p{
    margin: 0;
}


@media (max-width: 767px){
    .contact #map {
        margin-top: 20px;
    }

    .contact .card-contact{
        padding: 30px 0;
    }
  }


  @media (min-width: 768px) and (max-width: 1023px){
    .contact .card-contact {
        display: block;
        text-align: center;
    }

    .contact .card-contact img{
        margin: 0;
        margin-bottom: 10px;
    }

    .contact .card-contact .text{
        margin-bottom: 10px;
    }
  }

 